* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

a {
  text-decoration-line: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.instagram_home {
  display: flex;
  background-color: #000;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #151515;
  padding: 30px 20px;
  color: #fff;
  flex-shrink: 0;
  border-right: 1px solid #333;
}

.sidebar a.logo {
  font-size: 24px;
  margin-bottom: 30px;
  display: block;
  font-family: cursive;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  padding-block: 10px;
  padding-inline: 10px;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.sidebar ul li:hover {
  background-color: #333;
}

.main {
  width: calc(100% - 200px);
  display: flex;
  max-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.stories-section {
  overflow-y: hidden;
  display: flex;
  padding-block: 1.5rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 0.75rem;
}

.stories-section::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.story {
  max-width: 70px;
  width: 70px;
  height: auto;
}

.story-profile {
  width: 100%;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(240, 192, 255);
}

.username {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  color: #fff;
}

.post-section {
  padding: 2rem 10%;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.post-header img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.user-name {
  color: #fff;
  margin-left: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.three-dot {
  color: #fff;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
}

.actions i {
  font-size: 21px;
}

.likes-comment {
  gap: 10px;
  display: flex;
  align-items: center;
}
.like-counts {
  display: flex;
  gap: 10px;
}
.likes-photos {
  display: flex;
}
.likes-photos img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.likes-photos img + img {
  margin-left: -8px;
}
.caption {
  margin-bottom: 10px;
}
.comment-section {
  display: flex;
  justify-content: space-between;
}
.comment-section textarea {
  background-color: #151515;
  border-style: none;
  tab-size: 7px;
}
.profile-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}
.profile-picandname {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}
.username {
  font-size: small;
}

.middle {
  max-width: 70%;
  width: 70%;
  padding-inline: 10%;
}

aside {
  max-width: 30%;
  width: 30%;
  margin-top: 4%;
}

.post-body img {
  width: 100%;
}
